@font-face {
  font-family: "aharoni-bold";
  font-display: swap;
  src: url("../fonts/aharoni-bold.woff") format("woff"), url("../fonts/aharoni-bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial-black";
  font-display: swap;
  src: url("../fonts/Arial-black.woff") format("woff"), url("../fonts/Arial-black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Artifact";
  font-display: swap;
  src: url("../fonts/Artifact.woff") format("woff"), url("../fonts/Artifact.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rasa-Regular";
  font-display: swap;
  src: url("../fonts/Rasa-Regular.woff") format("woff"), url("../fonts/Rasa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont.woff") format("woff"), url("../fonts/ofont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geramond-bold";
  font-display: swap;
  src: url("../fonts/Geramond-bold.woff") format("woff"), url("../fonts/Geramond-bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rasa-SemiBold";
  font-display: swap;
  src: url("../fonts/Rasa-SemiBold.woff") format("woff"), url("../fonts/Rasa-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe-script";
  font-display: swap;
  src: url("../fonts/Segoe-script.woff") format("woff"), url("../fonts/Segoe-script.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.burger.active span {
  background-color: transparent;
}

.burger > span {
  display: block;
  position: relative;
  width: 90%;
  height: 3px;
  margin: 8px auto;
  background-color: #e1dece;
  border-radius: 10px;
}

.burger > span#sp1 {
  -webkit-transition: all 0.3s 0.5s;
  -o-transition: all 0.3s 0.5s;
  transition: all 0.3s 0.5s;
}

.burger > span#sp2 {
  -webkit-transition: all 0.3s 0.3s;
  -o-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.burger > span#sp3 {
  -webkit-transition: all 0.3s 0.1s;
  -o-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
}

.burger.active > span#sp2 {
  background-color: #e1dece;
  -webkit-transform: translateY(0) rotateZ(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotateZ(45deg);
  -webkit-transition: all 0.3s 0.3s;
  -o-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.burger.active > span#sp3 {
  background-color: #e1dece;
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
  -webkit-transition: all 0.3s 0.5s;
  -o-transition: all 0.3s 0.5s;
  transition: all 0.3s 0.5s;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.section-header {
  text-align: center;
  position: relative;
}

.section-header:after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background: #e1dece;
  border-radius: 5px;
  margin-top: 23px;
}

.section-header__title {
  font-size: 40px;
  color: #e1dece;
  line-height: 112.5%;
  font-family: "ofont";
  max-width: 640px;
  font-weight: normal;
  margin: 0 auto;
}

.section-header__title span {
  color: #fff;
}

.btn-gold {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  text-align: center;
  font-family: inherit;
  font-family: "ofont";
  color: #e1dece;
  max-width: 220px;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #e1dece;
  border-radius: 5px;
  height: 62px;
  min-width: 220px;
  padding: 0 53px;
  font-size: 14px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.btn-gold:hover {
  background: #e1dece;
  color: #191919;
}

.btn-gold:active {
  background: #e1dece;
  color: #191919;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  background: #191919;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.fixed .header-logo {
  padding-left: 0;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-logo {
  padding-left: 60px;
  background: -o-linear-gradient(343.01deg, #e0dede 24.92%, #a2a0a0 53.57%);
  background: linear-gradient(106.99deg, #e0dede 24.92%, #a2a0a0 53.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-logo a {
  display: inline-block;
}

.header-logo__name {
  font-size: 20px;
  text-transform: uppercase;
  display: block;
}

.header-logo__prof {
  font-size: 14px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-menu-list__item + .header-menu-list__item {
  margin-left: 55px;
}

.header-menu-list__link {
  font-size: 14px;
  color: #e1dece;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header-menu-list__link:hover {
  color: #fff;
}

.header-menu-list__link:hover:after {
  width: 53px;
}

.header-menu-list__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.contacts-header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-header__phone:hover .contacts-header__iccon {
  fill: #fff;
}

.contacts-header__phone:hover span {
  color: #fff;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-header__phone span {
  font-size: 20px;
  background: -o-linear-gradient(343.01deg, #e0dede 24.92%, #a2a0a0 53.57%), -o-linear-gradient(bottom, #dcd7c0, #dcd7c0);
  background: linear-gradient(106.99deg, #e0dede 24.92%, #a2a0a0 53.57%), linear-gradient(0deg, #dcd7c0, #dcd7c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.contacts-header__iccon {
  margin-right: 10px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  width: 19px;
  height: 19px;
  fill: #a2a0a0;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  z-index: 15;
  height: 100%;
}

.intro__logo {
  position: absolute;
  z-index: 15;
  left: -70px;
  top: -43px;
}

.intro__main {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.intro__title {
  font-size: 50px;
  line-height: 124%;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Geramond-bold";
}

.intro__title span {
  color: #e1dece;
}

.intro__description {
  margin: 25px auto;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  max-width: 510px;
}

.intro__btn .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  position: relative;
  color: #191919;
  height: 62px;
  padding: 0 50px;
  background: #fff;
  border-radius: 50px;
}

.intro__btn .btn:after {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  opacity: 0;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #e1dece;
  border-radius: 50px;
  width: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  height: 100%;
}

.intro__btn .btn:hover:after {
  width: 100%;
  opacity: 1;
}

.intro__btn .btn:hover span {
  color: #fff;
}

.intro__btn .btn span {
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 5;
  color: #191919;
}

.intro__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.intro-left-panel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 96px;
  flex: 0 0 96px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 150px;
  margin-bottom: 42px;
}

.intro-left-panel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro-left-panel__title {
  font-size: 14px;
  color: #e1dece;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.intro-left-panel__social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro-left-panel__social:before {
  content: " ";
  display: block;
  height: 75px;
  width: 1px;
  background: #e1dece;
  border-radius: 5px;
  margin: 27px 0;
}

.intro-left-panel__item {
  width: 30px;
  height: 30px;
  border: 1px solid #e1dece;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro-left-panel__item:hover {
  border-color: #fff;
}

.intro-left-panel__item:hover .intro-left-panel__iccon {
  fill: #fff;
}

.intro-left-panel__item + .intro-left-panel__item {
  margin-top: 12px;
}

.intro-left-panel__iccon {
  width: 15px;
  height: 15px;
  fill: #e1dece;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.projects {
  padding: 75px 0;
}

.projects__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 34px -15px 0;
}

.projects__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 15px;
  margin-bottom: 34px;
}

.projects-item__img {
  display: block;
  position: relative;
}

.projects-item__img:hover:after {
  opacity: 1;
  visibility: visible;
}

.projects-item__img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 25, 25, 0.65)), to(rgba(25, 25, 25, 0.65)));
  background: -o-linear-gradient(bottom, rgba(25, 25, 25, 0.65), rgba(25, 25, 25, 0.65));
  background: linear-gradient(0deg, rgba(25, 25, 25, 0.65), rgba(25, 25, 25, 0.65));
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.projects-item__img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.projects-item__content {
  margin-top: 26px;
  text-align: center;
}

.projects-item__title {
  display: block;
  font-size: 16px;
  color: #ffffff;
  font-family: "Geramond-bold";
}

.projects-item__title:hover {
  color: #e1dece;
}

.projects-item__adress {
  margin-top: 7px;
  font-size: 14px;
  color: #fff;
  font-family: "ofont";
}

.projects__footer {
  margin-top: 54px;
}

.projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-buttons__btn + .projects-buttons__btn {
  margin-left: 75px;
}

.about {
  padding: 0 0 75px;
}

.about__inner {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.about__img img {
  -o-object-fit: cover;
  object-fit: cover;
}

.about__content {
  margin-left: 39px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.about__description {
  font-size: 16px;
  line-height: 162.5%;
  color: #ffffff;
}

.about__description p:nth-child(2) {
  margin: 33px 0;
}

.about__advantages {
  margin: 53px 0;
}

.advantages-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 53px -15px;
}

.advantages-about__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}

.advantages-about__more {
  font-size: 12px;
  color: #fff;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.advantages-about__count {
  font-size: 45px;
  text-transform: uppercase;
  color: #e1dece;
  font-family: "Roboto-Medium";
  padding: 0 5px;
}

.advantages-about__old {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.slider-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-about__controls {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  z-index: 1000;
}

.slider-about__wrapper {
  min-width: 0;
}

.slider-about__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-about__title {
  font-size: 16px;
  text-transform: capitalize;
  color: #e1dece;
  font-family: "Segoe-script";
  margin-right: 48px;
}

.controls-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.controls-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.controls-about__item + .controls-about__item {
  margin-left: 15px;
}

.controls-about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: #e1dece;
  width: 40px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  height: 40px;
  cursor: pointer;
}

.controls-about__btn:hover {
  background: rgba(255, 255, 255, 0.43);
}

.controls-about__iccon {
  width: 19px;
  height: 19px;
  fill: #000;
}

.buttons-about {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buttons-about__btn + .buttons-about__btn {
  margin-left: 75px;
}

.advantages {
  padding: 75px 0 380px;
  background: url("../img/advantages/bg.png") no-repeat;
  background-size: cover;
  position: relative;
}

.advantages__wrapper {
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.advantages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.advantages__title {
  font-size: 40px;
  line-height: 150%;
  color: #191919;
  font-family: "ofont";
  max-width: 506px;
}

.advantages__title span {
  color: #191919;
  text-transform: uppercase;
  font-family: "Geramond-bold";
}

.advantages__content {
  margin-top: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.advantages__description {
  font-size: 16px;
  line-height: 162.5%;
  color: #404040;
  max-width: 500px;
}

.advantages__description p:nth-child(2) {
  margin: 35px 0;
}

.advantages__description span {
  font-size: 24px;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 262px -15px 0;
}

.advantages-item {
  background: #191919;
  border-radius: 20px;
  padding: 35px 25px;
  text-align: center;
}

.advantages-item__img img {
  max-width: 100%;
}

.advantages-item__title {
  padding: 25px 0 15px;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}

.advantages-item__description {
  font-size: 14px;
  line-height: 171.42857%;
  color: #cdcdcb;
}

.advantages__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 15px;
}

.why {
  margin-bottom: -190px;
}

.why__wrapper {
  margin-top: -25px;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.why__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.why__item:nth-child(2):after {
  content: " ";
  display: block;
  width: 500px;
  height: 500px;
  background: url(../img/why/1-af.png) no-repeat;
  position: absolute;
  top: -290px;
  right: -145px;
  z-index: -1;
}

.why__item:nth-child(3):after {
  content: " ";
  display: block;
  width: 500px;
  height: 680px;
  background: url(../img/why/2-af.png) no-repeat;
  position: absolute;
  top: -260px;
  left: -145px;
  z-index: -1;
}

.why__item:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.why__item:nth-child(4):after {
  content: " ";
  display: block;
  width: 410px;
  height: 530px;
  background: url(../img/why/3-af.png) no-repeat;
  position: absolute;
  top: -345px;
  right: -145px;
  z-index: -1;
}

.why__item + .why__item {
  margin-top: 180px;
}

.why__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.why__img img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

.why__content {
  margin-left: 102px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.why__content_s {
  margin-right: 102px;
  margin-left: 0;
}

.why__suptitle {
  font-size: 10px;
  text-transform: uppercase;
  color: #6e6e6e;
}

.why__title {
  margin: 18px 0 30px;
  font-size: 40px;
  color: #e1dece;
  line-height: 115%;
  font-family: "Geramond-bold";
}

.why__description {
  font-size: 16px;
  line-height: 162.5%;
  color: #c4c4c4;
}

.facts {
  padding: 400px 0 400px 0;
  background: url("../img/facts/bg.png") no-repeat;
  background-size: cover;
}

.facts__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.facts__title {
  font-size: 40px;
  color: #191919;
  line-height: 150%;
  font-family: "ofont";
  max-width: 620px;
}

.facts__title span {
  text-transform: uppercase;
  font-family: "Geramond-bold";
}

.facts__inner {
  margin: 130px -15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facts__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 15px;
}

.facts-item:nth-child(2) {
  margin-top: 35px;
}

.facts-item__title {
  font-size: 24px;
  line-height: 150%;
  color: #101010;
  display: block;
  margin-bottom: 28px;
  font-family: "Geramond-bold";
}

.facts-item__description {
  font-size: 14px;
  line-height: 171.42857%;
  color: #101010;
}

.facts-item__description span {
  font-family: "Geramond-bold";
  text-transform: uppercase;
}

.facts-item__description p:nth-child(2) {
  margin-top: 25px;
}

.steps {
  margin-top: -475px;
  padding: 415px 0 0;
  background: url("../img/steps/bg.png") no-repeat;
  background-size: cover;
}

.steps__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.steps__title {
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
  font-family: "ofont";
  max-width: 620px;
}

.steps__title span {
  text-transform: uppercase;
  font-family: "Geramond-bold";
  color: #e1dece;
}

.steps__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 120px -60px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.steps-item__title {
  margin: 20px 0 50px;
  font-size: 18px;
  font-family: "Geramond-bold";
  text-transform: uppercase;
  color: #ffffff;
}

.steps-item__description {
  font-size: 14px;
  line-height: 171.42857%;
  color: #c4c4c4;
}

.steps__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 60px;
  margin-bottom: 60px;
}

.partners {
  padding: 75px 0;
  background: url("../img/partners/bg.png") no-repeat;
  background-size: cover;
}

.partners__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.partners__title {
  font-size: 40px;
  line-height: 150%;
  font-family: "ofont";
  color: #ffffff;
  max-width: 653px;
  font-weight: normal;
}

.partners__title span {
  color: #e1dece;
  text-transform: uppercase;
  font-family: "ofont";
}

.partners__inner {
  margin: 90px -15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 15px;
  margin-bottom: -40px;
}

.contacts {
  padding: 45px 0;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__inner {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.contacts-item__title {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 15px;
}

.contacts-item__word {
  font-size: 15px;
  color: #e1dece;
  font-family: "Roboto-Light";
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  font-style: normal;
}

.contacts-item__word:hover {
  color: #fff;
}

.contacts-item__tel {
  display: block;
}

.contacts-item__tel + .contacts-item__tel {
  margin-top: 5px;
}

.contacts-item__adress address {
  line-height: 166.66667%;
}

.contacts-item__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-item__link {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #E1DECE;
  border-radius: 50%;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.contacts-item__link:hover {
  border-color: #fff;
}

.contacts-item__link:hover .contacts-item__iccon {
  fill: #fff;
}

.contacts-item__link + .contacts-item__link {
  margin-left: 15px;
}

.contacts-item__iccon {
  width: 15px;
  height: 15px;
  fill: #E1DECE;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.contacts__map {
  margin-left: 81px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.footer {
  background: #1f1f1f;
  padding: 45px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copy {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 166.66667%;
  color: #e1dece;
}

.footer__copy a {
  text-decoration: underline;
  color: #e1dece;
}

.footer__copy span {
  display: block;
}

.footer__title {
  font-size: 15px;
  line-height: 166.66667%;
  color: #e1dece;
}

.footer__title a {
  text-decoration: underline;
  color: #e1dece;
}

.footer__title span {
  display: block;
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto-Regular" , sans-serif;
  color: #E1DECE;
  font-size: 16px;
  margin: 0;
  background: #191919;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

@media (min-width: 993px) {
  .header-menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .about__img img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1201px) {
  .advantages-item {
    min-height: 500px;
  }
}

@media (max-width: 1400px) {
  .intro__logo {
    top: -9px;
  }
}

@media (max-width: 1200px) {
  .about__content {
    margin-left: 20px;
  }

  .advantages {
    background: url("../img/advantages/bg-2.png") no-repeat;
    margin-top: -100px;
  }

  .advantages__wrapper {
    margin-top: 300px;
  }

  .advantages__content {
    margin-top: 150px;
  }

  .advantages__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 100px -15px 0;
  }

  .advantages-item {
    min-height: 429px;
  }

  .advantages__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 405px;
    margin: 0 auto 25px;
  }

  .why {
    padding-top: 115px;
  }

  .facts__inner {
    margin: 80px -15px 0;
  }

  .contacts__map img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 1100px) {
  .header-menu-list__item + .header-menu-list__item {
    margin-left: 35px;
  }
}

@media (max-width: 992px) {
  .burger {
    display: block;
    margin-right: 15px;
  }

  .header-logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .header-menu-list {
    display: block;
    background: #fff;
    min-width: 220px;
    height: 100%;
    padding: 15px;
    position: fixed;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .8s ease 0s;
    -o-transition: all .8s ease 0s;
    transition: all .8s ease 0s;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .header-menu-list.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 0;
    margin-top: 15px;
  }

  .header-menu-list__link {
    font-size: 22px;
  }

  .intro__title {
    font-size: 42px;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__img {
    margin: 0 auto;
  }

  .about__img img {
    max-height: 345px;
  }

  .about__content {
    margin-top: 25px;
  }

  .advantages {
    padding: 75px 0 90px;
    margin-top: -200px;
  }

  .advantages__wrapper {
    margin-top: 350px;
  }

  .advantages__content {
    margin-top: 100px;
  }

  .why {
    margin-bottom: 0;
    padding-bottom: 75px;
  }

  .why__item + .why__item {
    margin-top: 90px;
  }

  .why__title {
    margin: 10px 0 15px;
  }

  .facts {
    padding: 75px 0 260px 0;
    background: #E1DECE;
  }

  .facts__inner {
    margin: 60px -15px 0;
  }

  .steps {
    margin-top: -330px;
    padding: 260px 0 0;
  }

  .steps__inner {
    margin: 70px -30px 0 -30px;
  }

  .steps-item__title {
    margin: 20px 0 20px;
  }

  .steps__column {
    margin-bottom: 30px;
    padding: 0 30px;
  }

  .partners {
    padding: 75px 0;
  }

  .partners__inner {
    margin: 45px -15px 0;
  }

  .contacts__map {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .section-header__title {
    font-size: 34px;
  }

  .intro__title {
    font-size: 39px;
  }

  .projects {
    padding: 35px 0;
  }

  .projects__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .projects-item__img {
    max-height: 250px;
    max-width: 250px;
    margin: 0 auto;
  }

  .projects__footer {
    margin-top: 15px;
  }

  .about__content {
    margin-left: 0;
  }

  .about__description p:nth-child(2) {
    margin: 15px 0;
  }

  .advantages-about {
    margin: 25px -15px;
  }

  .buttons-about {
    margin-top: 35px;
  }

  .buttons-about__btn + .buttons-about__btn {
    margin-left: 35px;
  }

  .advantages {
    margin-top: -350px;
  }

  .advantages__wrapper {
    margin-top: 435px;
  }

  .advantages__title {
    font-size: 30px;
  }

  .advantages__content {
    margin-top: 40px;
  }

  .advantages__inner {
    margin: 50px -15px 0;
  }

  .advantages-item {
    padding: 25px 15px;
    min-height: 440px;
  }

  .advantages-item__img img {
    max-height: 100px;
  }

  .advantages-item__title {
    font-size: 16px;
    padding: 15px 0 10px;
  }

  .why {
    padding-top: 75px;
  }

  .why__item + .why__item {
    margin-top: 45px;
  }

  .why__content {
    margin-left: 30px;
  }

  .why__content_s {
    margin-left: 0;
    margin-right: 30px;
  }

  .why__title {
    font-size: 29px;
  }

  .why__description {
    font-size: 14px;
  }

  .facts {
    padding: 35px 0 45px 0;
  }

  .facts__title {
    font-size: 32px;
  }

  .facts__inner {
    margin: 30px -15px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .facts__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .facts-item__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .facts-item__description p:nth-child(2) {
    margin-top: 10px;
  }

  .steps {
    margin-top: 0;
    padding: 45px 0 0;
  }

  .steps__title {
    font-size: 32px;
  }

  .steps__inner {
    margin: 40px -30px 0;
  }

  .steps__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .partners {
    padding: 35px 0;
  }

  .partners__title {
    font-size: 28px;
  }

  .partners__inner {
    margin: 25px -15px 0;
  }

  .partners-item__img img {
    max-width: 100%;
    display: block;
    min-width: 160px;
  }

  .contacts__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .contacts__inner {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .contacts__map {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .contacts__map img {
    max-height: 220px;
  }

  .footer {
    padding: 25px 0;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .advantages-about {
    margin: 25px -15px 10px;
  }
}

@media (max-width: 700px) {
  .facts {
    padding: 35px 0 75px 0;
  }
}

@media (max-width: 600px) {
  .advantages-about {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantages-about__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .burger {
    margin-right: 0;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .header-logo {
    padding-left: 0;
  }

  .contacts-header {
    display: none;
  }

  .contacts-header.active {
    display: block;
  }

  .contacts-header__phone {
    margin-top: 15px;
  }

  .intro {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/intro/intro-main-bg.png) no-repeat;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .intro__logo {
    display: none;
  }

  .intro__main {
    padding: 150px 15px 80px 15px;
  }

  .intro__bg {
    display: none;
  }

  .intro-left-panel {
    display: none;
  }

  .projects__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin-bottom: 25px;
  }

  .projects-buttons__btn + .projects-buttons__btn {
    margin-left: 25px;
  }

  .about__img img {
    max-width: 100%;
  }

  .about__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .controls-about {
    margin-bottom: 25px;
  }

  .advantages {
    margin-top: -400px;
  }

  .advantages__content {
    margin-top: 20px;
  }

  .advantages__description p:nth-child(2) {
    margin: 15px 0;
  }

  .advantages__inner {
    margin: 15px -15px 0;
  }

  .advantages-item {
    min-height: auto;
    max-width: 300px;
    margin: 0 auto;
  }

  .advantages-item__img img {
    max-height: 70px;
  }

  .advantages-item__description {
    font-size: 13px;
  }

  .advantages__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .why {
    padding-top: 35px;
  }

  .why__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .why__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .why__item:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .why__img {
    margin: 0 auto;
  }

  .why__img img {
    max-height: 335px;
  }

  .why__content {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .facts {
    padding: 30px 0 15px 0;
  }

  .facts__title {
    font-size: 27px;
  }

  .facts__inner {
    margin: 30px -15px 0;
  }

  .facts__inner {
    margin: 15px -15px 0;
  }

  .facts-item:nth-child(2) {
    margin-top: 10px;
  }

  .facts-item__title {
    margin-top: 10px;
  }

  .steps__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
  }

  .contacts {
    padding: 15px 0 15px;
  }

  .contacts__column {
    margin-bottom: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer {
    padding: 15px 0;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__copy {
    margin-bottom: 5px;
  }
}

@media (max-width: 513px) {
  .advantages {
    padding: 75px 0 25px;
  }
}

@media (max-width: 500px) {
  .projects-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .projects-buttons__btn + .projects-buttons__btn {
    margin-left: 0;
    margin: 15px auto 0;
  }

  .buttons-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .buttons-about__btn + .buttons-about__btn {
    margin-left: 0;
    margin: 15px auto 0;
  }
}

@media (max-width: 427px) {
  .advantages {
    padding: 75px 0 0;
  }
}

@media (max-width: 424px) {
  .why {
    padding-top: 15px;
  }
}

@media (max-width: 420px) {
  .intro__main {
    padding: 110px 15px 40px 15px;
  }

  .intro__title {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .advantages-about__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .advantages {
    margin-top: -450px;
  }
}

@media (max-width: 380px) {
  .partners__column {
    margin-bottom: 1px;
  }
}

@media (max-height: 800px) {
  .why__img img {
    max-height: 500px;
  }
}